<div id="container">
  <div class="container-inner">
      <h1>The Menu</h1>
        {{#each burgers}}
          {{#unless devoured}}
          <div class="burger">
            <p class="menuItem"> {{burger}} </p>
              {{!-- <form id="burgerButton" action="/burgers/update/devour/{{this.id}}?_method=PUT" method="POST"> --}}
                <button class="btn btn-primary eat-burger" data-id="{{this.id}}" type="submit">Eat Burger</button>
              </form>
          </div>

          {{/unless}}
        {{/each}}
    </div>
    <div class="container-inner">
      <h1>Devoured Burgers</h1>
      <ul id="devoured-burgers">
        {{#each burgers}}
          {{#if devoured}}
            <li>{{burger}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
    <div class="container-inner make-burger">
        <h1>Make Your Own!</h1>
        <form action="burgers/create" method="POST">
          <div class="form-group">
            <input type="text" id="burgerInput" name="name" class="form-control" placeholder="Give your burger a name" required />
          </div>
          <button class="btn btn-primary" type="submit">Make Burger</button>
          <div class="clear"></div>
        </form>
      </div>
    </div>